{% load static %}

<!doctype html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
    <link rel="stylesheet" href="{% static 'css/shot.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"> Todo list </a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}"> Admin</a>
                </li>                
                <li>
                    <a href="{% url 'todolist_create_list' %}"> new Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todoitem_create_list' %}"> New Todo items</a>
                </li>
            </ul>
    </header>
    <main>  
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <button class="button">Name</button>
        </div>
        </form>
    </main>
</body>
</html>