{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/shot.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"> Todo list </a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}"> Admin</a>
                </li>                
                <li>
                    <a href="{% url 'todolist_create_list' %}"> new Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todoitem_create_list' %}"> New Todo items</a>
                </li>
            </ul>
    </header>
  <main>
    <div>
      <a href="{% url 'todolist_edit' todolist.id %}">Edit</a>
      <a href="{% url 'todolist_delete' todolist.id %}">Delete</a>
    </div>
    <h3>{{ todolist.name }}</h3>
    {% for item in todolist.items.all %}
    <p>
     <a href="{% url 'todoitem_edit' item.pk %}">{{ item }}</a>
        </p>
    {% endfor %}

  </main>
</body>

</html>
