{% load static %}

<!doctype html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Todo Lists</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/shot.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"> Todo list </a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}"> Admin</a>
                </li>                
                <li>
                    <a href="{% url 'todolist_create_list' %}"> new Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todoitem_create_list' %}"> New Todo items</a>
                </li>
            </ul>
    </header>
    <main>
        <h2>List of Lists</h2>
        {%for list in todolist_list%}
            <div>
                <ul>
                  <li><a href="{% url 'todolist_detail' list.pk %}"> {{ list.name }} </a></li>
                </ul
            </div>
        {% endfor %}
    </main>
</body>
</html>