@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
}

a {
  font-family: 'Roboto';
  font-size: 12px;
  color:#2a9b99;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

a:visited {
  text-decoration: none;
  color: #2b5282;
}

button.button {
  background-color: #1db318;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  padding: .5em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #1db318;
  color: #1db318;
}

button.button:active {
  background-color: lightblue;
}

input, textarea {
  border: 1px solid #8a12e0b6;
  border-radius: 4px;
  padding: 1em 1.5em;
}


table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.delete-form {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
